body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo transparente */
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 15px; /* Bordas arredondadas na parte inferior */
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Para garantir que o header fique acima de outros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

main {
    padding: 5rem 1rem 1rem; /* Espaço para o header fixo */
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #00bcd4;
    text-align: center;
}

#lista-projetos div {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#lista-projetos div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.contact-icons a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s, transform 0.3s;
}

.contact-icons a:hover {
    color: #fff;
    transform: scale(1.2);
}